#h1{
    Color :black;
    background-color: rgba(17, 0, 255, 0.329);
}
#h2{
    color: black;
    background-color: rgba(165, 42, 42, 0.329);
}
#h3{
    color:black;
    background-color: rgba(128, 255, 0, 0.383);
}
.l{
    color: black;
    border-radius: 5px;
    background-color: rgba(255, 0, 128, 0.226);
    font-family: cursive;
    margin-left: 10px;
}
#body{
    background-color: rgb(227, 241, 215);
    font-family: 'Ubuntu', sans-serif
}
.h{
    font-size: 45px;
    border-radius: 10px;
}
#table{
    border: 10px solid rgb(251, 1, 84);
    border-radius: 2px;
    margin: 15px;
    padding: 15px;
}